#GregsLighting Configuration File
#Fri Jan 24 00:42:41 CET 2014
maxFloodlightRange=64
debugBeamBlocks=false
block.carbideFloodlight.id=3800
block.floodlightBeam.id=3801
block.floodlight.id=3802
block.ic2ElectricFloodlight.id=3803
block.ic2ElectricFloodlightOn.id=3804
item.calciumCarbide.id=28500
item.bonemealAndCharcoal.id=28501
item.gaslightMantle.id=28502
item.glowstoneBulb.id=28503
item.gasNozzle.id=28504
item.glowingIngot.id=28505
item.ic2FilamentAssembly.id=28506
enableSimpleFloodlight=false
