# Configuration file

####################
# general
####################

general {
    I:"1-HUD Background Color (R)"=70
    I:"2-HUD Background Color (G)"=160
    I:"3-HUD Background Color (B)"=255
    B:"Override Background Color using Item Health"=true
    B:"Show Charging Flasher"=true
    B:"Show HUD Background"=true
    B:"Show HUD for All Damageable Armor Items"=true
    B:"Show HUD for Boots"=true
    B:"Show HUD for Chestplates"=true
    B:"Show HUD for Helmets"=true
    B:"Show HUD for Leggings"=true
    B:"Show HUD for Non-Electric Armor"=true
    B:"Show HUD for other Electric Items"=true
    B:"Show Low Power Flasher"=true
}


####################
# hud position
####################

"hud position" {
    # 0 = Vertical, Top-Left Corner
    # 1 = Vertical, Bottom-Left Corner
    # 2 = Horizontal, Left of Hotbar
    # 3 = Horizontal, Right of Hotbar
    # 4 = Vertical, Bottom-Right Corner
    # 5 = Vertical, Top-Right Corner
    I:hudPosition=2
}


