# Configuration file

####################
# block
####################

block {
    I:Diffuser=3153
    I:Inffuser=3154
    I:Soul_Cage=3150
    I:Soul_Forge=3151
    I:Soul_Tower=3152
}


####################
# general
####################

general {
    I:between_Tiers=200
}


####################
# item
####################

item {
    I:Blank_Soul_Shard=11001
    I:Corrupted_Axe=11009
    I:Corrupted_Essence=11003
    I:Corrupted_Fragment=11004
    I:Corrupted_Hoe=11010
    I:Corrupted_Iron_Ingot=11005
    I:Corrupted_Pickaxe=11008
    I:Corrupted_Shovel=11007
    I:Corrupted_Sword=11006
    I:Shadow_Axe=11015
    I:Shadow_Element=11011
    I:Shadow_Hoe=11016
    I:Shadow_Pickaxe=11014
    I:Shadow_Shovel=11013
    I:Shadow_Sword=11012
    I:Soul_Shard=11000
    I:Vile_Dust=11002
}


