# Configuration file

####################
# block
####################

block {
    I:MFFSCapacitor=3950
    I:MFFSControlSystem=3960
    I:MFFSDefenceStation=3951
    I:MFFSExtractor=3952
    I:MFFSFieldblock=3953
    I:MFFSForceEnergyConverter=3957
    I:MFFSMonazitOre=3958
    I:MFFSProjector=3955
    I:MFFSSecurtyStation=3956
    I:MFFSSecurtyStorage=3954
    I:metaMachine=3959
}


####################
# general
####################

general {
    # Set this to false to turn off the MFFS Chuncloader ability
    B:Chunkloader=true

    # How much FE does the AreaDefenseStation when killing someone
    I:DefenceStationKillForceEnergy=10000

    # Set this to true to turn off the DefenceStation notification is in NPC Mode
    B:DefenceStationNPCScannnotification=false

    # How much FE does the AreaDefenseStation when Scann for Targets (amount * range / tick)
    I:DefenceStationScannForceEnergy=10

    # How much FE does the AreaDefenseStation when searching someone for contraband
    I:DefenceStationSearchForceEnergy=1000

    # How many ForceEnergy generate per WorkCycle
    I:ExtractorPassForceEnergyGenerate=10000

    # Add users to this list to give them admin permissions split by ;
    S:ForceFieldMaster=nobody

    # WorkCycle amount of Forcecium Cell inside a Extractor
    I:ForceciumCellWorkCylce=230

    # WorkCycle amount of Forcecium inside a Extractor
    I:ForceciumWorkCylce=250

    # Set Graphic Style for Blocks 0: Default(ugly ;-)) 1: UE-Thema
    I:GraphicStyle=0

    # Controls the size of the ore node that Monazit Ore will generate in
    I:MonazitOreWorldGen=4

    # Set MFFS to AdventureMap Mode Extractor need no Forcecium and ForceField have no click damage
    B:adventuremap=false

    # How much upkeep FE cost a default ForceFieldblock per second
    I:forcefieldblockcost=1

    # Energy need for create a ForceFieldblock (forcefieldblockcost*forcefieldblockcreatemodifier)
    I:forcefieldblockcreatemodifier=10

    # Energy need multiplier used when the zapper option is installed
    I:forcefieldblockzappermodifier=2

    # How many field blocks can be generated per tick?
    I:forcefieldmaxblockpeerTick=5000

    # Should forcefields only remove water and lava when sponge is enabled?
    B:forcefieldremoveonlywaterandlava=false

    # How much FE should it cost to transport through a field?
    I:forcefieldtransportcost=10000

    # Should MFFS be influenced by other mods. e.g. ICBM's EMP
    B:influencedbyothermods=true

    # Set this to false to turn off the small smoke particles present around TouchDamage enabled ForceFields.
    B:renderZapperParticles=true

    # Add IC2 UU-Matter Recipes for Forcicium
    B:uumatterForcicium=true
}


####################
# item
####################

item {
    I:ItemMFDIDwriter=29510
    I:itemAccessCard=29547
    I:itemCardDataLink=29550
    I:itemForceFieldsync=29509
    I:itemForcePowerCrystal=29545
    I:itemForcicium=29544
    I:itemForcicumCell=29546
    I:itemIDCard=29534
    I:itemInfinitePower=29548
    I:itemMFDdebugger=29511
    I:itemManuelBook=29512
    I:itemPorjectorFocusmatrix=29533
    I:itemProjectorFFDistance=29531
    I:itemProjectorFFStrength=29532
    I:itemProjectorModuleAdvCube=29542
    I:itemProjectorModuleContainment=29540
    I:itemProjectorModulediagonallyWall=29549
    I:itemProjectorOptionCamoflage=29541
    I:itemProjectorOptionFFJammer=29539
    I:itemProjectorOptionFieldFusion=29543
    I:itemProjectorOptionMoobEx=29538
    I:itemProjectorOptiondefencestation=29537
    I:itemProjectorTypdeflector=29525
    I:itemProjectorTypkube=29522
    I:itemProjectorTypsphere=29521
    I:itemProjectorTyptube=29526
    I:itemProjectorTypwall=29524
    I:itemSecLinkCard=29535
    I:itemSwitch=29508
    I:itemUpgradeprocutter=29530
    I:itemWrench=29507
    I:itemcardempty=29515
    I:itemextractorbooster=29518
    I:itemfc=29516
    I:itemupgradecapcap=29520
    I:itemupgradecaprange=29519
    I:itemupgradeprodome=29529
    I:itemupgradeprosubwater=29528
    I:itemupgradeprozapper=29527
}


