# Configuration file

####################
# block
####################

block {
    I:planksTC=2880
    I:slabFull=2881
    I:slabHalf=2882
}


####################
# general
####################

general {
    # Set to true to allow Greatwood & Silverwood planks to burn in a fire.
    B:areMagicPlanksFlammable=false

    # Set to true if you want ThaumicBees to add several Thaumcraft blocks & items to Forestry backpacks.
    #  Set to false to disable.
    B:backpack.forestry.addThaumcraftItems=true

    # Add additional items to the Thaumaturge's Backpack.
    #  Format is the same as Forestry's: id:meta;id;id:meta (etc)
    S:backpack.thaumaturge.additionalItems=

    # Allows you to edit the stack size of the capsules in ThaumicBees if using GregTech, 
    # or the reduced capsule size in Forestry & Railcraft. Default: 64
    I:capsuleStackSize=64

    # Set to true to stop ThaumicBees from checking for updates.
    B:disableVersionCheck=true

    # Set to true to make Thaumium Grafter & Scoop require impregnated sticks in the recipe.
    B:useImpregnatedStickInTools=true
}


####################
# item
####################

item {
    I:beeNuggets=14021
    I:combs=14000
    I:drop=14003
    I:fluxCrystal=14009
    I:frameGentle=14012
    I:frameMagic=14010
    I:frameMetabolic=14013
    I:frameNecrotic=14014
    I:frameOblivion=14017
    I:frameResilient=14011
    I:frameTemporal=14015
    I:jellyBabies=14016
    I:magicCapsule=14007
    I:miscResources=14004
    I:pollen=14008
    I:propolis=14002
    I:thaumaturgePack1=14005
    I:thaumaturgePack2=14006
    I:thaumiumGrafter=14020
    I:thaumiumScoop=14019
    I:voidCapsule=14018
    I:wax=14001
}


