# Configuration file

####################
# block
####################

block {
    I:Block=4003
    I:Block2=4004
    I:LightSource=4000
    I:Machine=4002
    I:Ore=4001
}


####################
# item
####################

item {
    I:CELLS=29002
    I:COMPONENTS=29003
    I:CheatyDevice=29063
    I:CloakingDevice=29038
    I:DUSTS=29001
    I:Dataorb=29043
    I:DebugScanner=29055
    I:Destructopack=29033
    I:GASSES=29014
    I:HandheldSonictron=29032
    I:Heliumcoolant060k=29034
    I:Heliumcoolant120k=29035
    I:Heliumcoolant180k=29036
    I:IronMortar=29030
    I:JackHammerDiamond=29042
    I:JackHammerIron=29039
    I:JackHammerSteel=29041
    I:LIQUIDS=29013
    I:Lamphelmet=29044
    I:LapotronicEnergycrystal=29037
    I:Lapotronpack=29045
    I:LithiumCell=29054
    I:LithiumbatteryEmpty=29056
    I:LithiumbatteryFull=29057
    I:Lithiumpack=29058
    I:MATERIALS=29000
    I:Mortar=29031
    I:NCSensorCard=29016
    I:NCSensorKit=29017
    I:NUGGETS=29064
    I:NaKcoolant060k=29060
    I:NaKcoolant120k=29061
    I:NaKcoolant180k=29062
    I:Neutronreflector=29040
    I:PLASMA=29015
    I:Plutonium1=29051
    I:Plutonium2=29052
    I:Plutonium4=29053
    I:Rockcutter=29046
    I:SMALLDUSTS=29004
    I:Scanner=29065
    I:Teslastaff=29047
    I:Thorium1=29048
    I:Thorium2=29049
    I:Thorium4=29050
}


